
<p><%= link_to 'Create Facebook', new_facebook_path %><p>
<br>
<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>User</th>
      <th>Likes</th>
    </tr>
  </thead>
  <tbody>
    <% @facebooks.each do |facebook| %>
      <tr>
      <td><%= link_to facebook.status, facebook_path(facebook) %></td>
      <td><%= facebook.user %></td>
      <td><%= facebook.likes %> </td>
      <td><%= link_to "Like", like_path(:facebook => facebook.id), method: :post %></td>
      <td><%= link_to "Edit Facebook", edit_facebook_path(facebook) %></td>
      <td><%= link_to "Delete Facebook", facebook_path(facebook), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
