<!DOCTYPE html>
<html>
<head>
  <title>StatusCrud</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <a class="navbar-brand" href="/">Facebook</a>
  <% if notice %>
  <center><div class="alert alert-success"><%= notice %>
  </div></center>

  <% elsif alert %>
  <center><div class="alert alert-danger"><%= alert %>
  </div></center>
  <% end %>

<%= yield %>

</body>
</html>
